body {
	padding-bottom: 0!important;
}


/*颜色选择按钮 开始*/

.color-btn-wrap {
	margin-top: .2rem;
	z-index: 991;
}

.color-btn {
	text-align: center;
	padding-left: .1rem;
	margin-bottom: 0;
}

.color-btn li,
.color-btn li>button {
	display: inline-block;
	border-radius: 50%;
	width: .3rem;
	height: .3rem;
	text-align: center;
	line-height: .3rem;
	overflow: hidden;
	padding: 0;
}

.color-btn li>button {
	border: 0;
	font-size: .3rem;
	color: #f1c50b;
	line-height: .2rem;
	text-align: center;
}

.color-btn>li+li {
	margin-right: 10px;
}

.color-btn li>button>span {
	display: none;
}


/*颜色选择按钮 结束*/


/*删除按钮 开始*/

.delete-btn {
	width: .3rem;
	height: .3rem;
	border-radius: 50%;
	text-align: center;
	line-height: .18rem;
	padding: 0;
	font-size: .22rem;
	border: 2px solid #000;
	position: absolute;
	right: .1rem;
	top: 1.4rem;
	color: #ED6551;
}


/*删除按钮 结束*/


/*编辑按钮 开始*/

.edit-btn {
	position: absolute;
	right: .1rem;
	bottom: 1rem;
	z-index: 991;
}

.edit-btn li,
.edit-btn li>button {
	border-radius: 50%;
	width: .3rem;
	height: .3rem;
	text-align: center;
	line-height: .3rem;
	overflow: hidden;
	padding: 0;
}

.edit-btn li>button {
	font-size: .18rem;
	line-height: .18rem;
	text-align: center;
	border: 2px solid #000;
}

.edit-btn>li+li {
	margin-bottom: .1rem;
}


/*编辑按钮 结束*/

.diy-wrap {
	text-align: center;
	bottom: 0!important;
}

li {
	list-style: none;
}

.diy-nav {
	background-color: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-right: .1rem;
	z-index: 888;
}

.complate-btn {
	margin-top: .12rem;
	background-color: #333;
}

.complate-btn a {
	color: #f1c50b!important;
	font-size: .18rem;
	letter-spacing: 2px;
}


/*衣服款式 开始*/

.cls-style {
	height: 2rem;
	background: #ddd !important;
	z-index: 999999;
	position: fixed;
	bottom: 0;
	left: 0;
}

.style-list,
.gender-list {
	border-bottom: 1px solid #ccc;
	padding: .05rem 0;
}

.cls-style button {
	background-color: rgba(0, 0, 0, 0);
	border: 1px solid transparent;
	color: #333;
}

.cls-style button.mui-active {
	background-color: #333!important;
	border-color: #333!important;
	color: #f1c50b!important;
}


/*衣服款式 结束*/

.mui-backdrop {
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 998;
}

.mui-table-view-cell>a:not(.mui-btn) {
	text-decoration: none;
	color: #428bca;
}

.mui-popup-button {
	color: #428bca;
}

/*上传图片*/

.get-pic {
	opacity: 0;
	background-color: ;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	width: 100%;
	margin: 0;
	height: .4rem;
}
/*选中衣服*/
.cls-selected,.filter-mb-selected{
	width:.2rem!important;
	height:.2rem!important ;
	border: 1px solid #f1c50b!important;
	border-radius: 50%;
	background-color: #333;
	color:#f1c50b ;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-90%,-50%);
	line-height: .2rem!important;
}
.filter-mb-selected{
	transform:translate(-50%,-70%)
}
.pic-wrap{
	display: block;
	position: relative;
}
.clothes-slider span{
	display: none;
}
.clothes-slider a{
	padding-left: 0!important;
	padding-right:.1rem!important;
}
.clothes-slider a.mui-active{
	border: 0!important;
}
.clothes-slider a.mui-active>span{
	display: block;
}
/*滤镜和模板 开始*/
.filter-nav{
	background-color: #fff;
	z-index: 9999999;
	height:.6rem ;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.filter-nav div{
	text-align: center;
}
.filter-nav div.active,.filter-nav div.active p{
	color: #f1c50b;
}
.muban-list,.filter-list{
	height: 2.7rem;
	width: 100%;
	margin-bottom: .6rem;
	display: none;
	overflow: auto;
	background-color: #fff;
}
.muban-list img,.filter-list img{
	width: 100%;
}
.show-muban{
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
}
.show-muban img{
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%,0);
	
}
.filter-list{
	display: none;
}
.filter-title{
	background-color: rgba(0,0,0,.5);
	
	text-align: center;
}
.filter-wrap{
	position: absolute;
	left: 0;
	bottom: 0;
	padding:0 .05rem ;
}
.filter-img-wrap,.mb-wrap{
	padding: .05rem;
}

/*滤镜和模板 结束*/
