{template 'common/header'}
<link rel="stylesheet" type="text/css" href="{MODULE_URL}static/css/diy.css" />
<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_1toskzqlvvd9529.css" />
<script src="{MODULE_URL}static/js/resize.js" type="text/javascript" charset="utf-8"></script>
<div id="" class="mui-content diy-wrap">
	<div class="col-xs-12 color-btn-wrap">
		<ul class="color-btn">
			<li style="margin-right: .1rem;">
				<button style="background-color: #fff;" type="button" class="mui-btn ">
					<span class="mui-icon mui-icon-checkmarkempty"></span>
				</button>
			</li>
			<li>
				<button style="background-color: #3155F9;" type="button" class="mui-btn ">
					<span class="mui-icon mui-icon-checkmarkempty"></span>
				</button>
			</li>
			<li>
				<button style="background-color: #FF6A16;" type="button" class="mui-btn ">
					<span class="mui-icon mui-icon-checkmarkempty"></span>
				</button>
			</li>
			<li>
				<button style="background-color: #CE0D01;" type="button" class="mui-btn ">
					<span class="mui-icon mui-icon-checkmarkempty"></span>
				</button>
			</li>
			<li>
				<button style="background-color: #003406;" type="button" class="mui-btn ">
					<span class="mui-icon mui-icon-checkmarkempty"></span>
				</button>
			</li>
			<li>
				<button style="background-color: #000000;" type="button" class="mui-btn ">
					<span class="mui-icon mui-icon-checkmarkempty"></span>
				</button>
			</li>
		</ul>
	</div>
	<img class="diy-img" style="width: 100%;" src="{MODULE_URL}static/images/white.png" alt="" />

	<div class="mui-row diy-nav">
		<div class="mui-col-sm-3 mui-col-xs-3">
			<li class="mui-table-view-cell " id="picture-btn">
				<span class="mui-tab-item ">
					<span class="mui-icon mui-icon-image"></span>
				<p class="mui-tab-label">插入图片</p>
				</span>
			</li>
		</div>
		<div class="mui-col-sm-3 mui-col-xs-3">
			<li class="mui-table-view-cell">
				<span class="mui-tab-item">
					<span class="mui-icon mui-icon-compose"></span>
				<p class="mui-tab-label">插入文字</p>
				</span>
			</li>
		</div>
		<div class="mui-col-sm-6 mui-col-xs-6 complate-btn">
			<li class="mui-table-view-cell">
				<a class="mui-tab-item ">
					<span class="mui-icon mui-icon-checkmarkempty"></span> 完成设计
				</a>
			</li>
		</div>
	</div>
	<button id="delete-btn" type="button" class="mui-btn delete-btn"><span class="mui-icon mui-icon-trash"></span></button>

	<!--编辑按钮 开始-->
	<ul class="edit-btn">
		<li style="margin-bottom: .1rem;">
			<button type="button" class="mui-btn ">
					背
			</button>
		</li>
		<li>
			<button type="button" class="mui-btn scale-btn">
					<span  class="mui-icon mui-icon-plus fangda"></span>
					<span  style="display: none;" class="mui-icon mui-icon-minus suoxiao"></span>		
			</button>
		</li>
		<li>
			<button type="button" class="mui-btn cls-styel-btn" style="border: 0;">
					<img style="width: 100%;margin-bottom: .035rem;" src="{MODULE_URL}static/images/clothes.png"/>
			</button>
		</li>
		<li>
			<button type="button" class="mui-btn open-filter" style="border: 0;">
					<img style="width: 100%;margin-bottom: .035rem;" src="{MODULE_URL}static/images/text.png"/>
			</button>
		</li>
	</ul>
	<!--编辑按钮 结束-->

</div>
<!--衣服款式选择 开始-->
<div id="cls-style" class="col-xs-12 cls-style mui-popover mui-popover-action mui-popover-bottom">
	<div class="col-xs-12 style-list">
		<div class="col-xs-4">
			<button type="button" class="mui-btn mui-btn-primary mui-active">T恤</button>
		</div>
		<div class="col-xs-4">
			<button type="button" class="mui-btn mui-btn-primary ">POLO衫</button>
		</div>
		<div class="col-xs-4">
			<button type="button" class="mui-btn mui-btn-primary">卫衣</button>
		</div>
	</div>
	<div class="col-xs-12 gender-list">
		<div class="col-xs-4">
			<button type="button" class="mui-btn mui-btn-primary mui-active">男款</button>
		</div>
		<div class="col-xs-4">
			<button type="button" class="mui-btn mui-btn-primary">女款</button>
		</div>

	</div>
	<!--滑动选择衣服-->
	<div class="col-xs-12">
		<div style="height: 1rem;" class="mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
			<div class="mui-scroll clothes-slider" style="height: .8rem;">
				<a class="mui-control-item mui-active pic-wrap">
					<span class="mui-icon mui-icon-checkmarkempty cls-selected"></span>
					<img style="height: 1rem;" src="{MODULE_URL}static/images/white.png" />
				</a>
				<a class="mui-control-item pic-wrap">
					<span class="mui-icon mui-icon-checkmarkempty cls-selected"></span>
					<img style="height: 1rem;" src="{MODULE_URL}static/images/white.png" />
				</a>
				<a class="mui-control-item pic-wrap">
					<span class="mui-icon mui-icon-checkmarkempty cls-selected"></span>
					<img style="height: 1rem;" src="{MODULE_URL}static/images/white.png" />
				</a>
				<a class="mui-control-item pic-wrap">
					<span class="mui-icon mui-icon-checkmarkempty cls-selected"></span>
					<img style="height: 1rem;" src="{MODULE_URL}static/images/white.png" />
				</a>
				<a class="mui-control-item pic-wrap">
					<span class="mui-icon mui-icon-checkmarkempty cls-selected"></span>
					<img style="height: 1rem;" src="{MODULE_URL}static/images/white.png" />
				</a>
				<a class="mui-control-item pic-wrap">
					<span class="mui-icon mui-icon-checkmarkempty cls-selected"></span>
					<img style="height: 1rem;" src="{MODULE_URL}static/images/white.png" />
				</a>
			</div>
		</div>
	</div>
</div>
<!--衣服款式选择 结束-->

<!--插入照片 开始-->

<div id="picture" class="mui-popover mui-popover-action mui-popover-bottom">
	<ul class="mui-table-view">
		<li class="mui-table-view-cell">

			<a href="#">相册</a>
			<input class="get-pic" type="file" />
		</li>
		<li class="mui-table-view-cell">
			<a href="#">相机</a>
			<input class="get-pic" type="file" />
		</li>
	</ul>
	<ul class="mui-table-view">
		<li class="mui-table-view-cell cancel-btn">
			<a href="#"><b>取消</b></a>
		</li>
	</ul>
</div>
<!--插入照片 结束-->

<!--滤镜和模板 开始-->
<div id="filter" class="mui-popover mui-popover-bottom mui-popover-action ">
	<!--模板显示区 开始-->
	<div class="show-muban">
		<span class="mui-icon mui-icon-close"></span>
		<img src="{MODULE_URL}static/images/u3143.png""/>
	</div>
	<!--模板显示区 结束-->
	<!--模板内容 开始-->

	<div class="mui-row muban-list">
		<div class="mui-col-xs-3">
			<span class="mui-icon mui-icon-checkmarkempty cls-selected"></span>
			<img style="width: 100%;" src="{MODULE_URL}static/images/u3143.png" />
		</div>
		<div class="mui-col-xs-3">
			<img src="{MODULE_URL}static/images/u3143.png" />
		</div>
		<div class="mui-col-xs-3">
			<img src="{MODULE_URL}static/images/u3143.png" />
		</div>
		<div class="mui-col-xs-3">
			<img src="{MODULE_URL}static/images/u3143.png" />
		</div>
		<div class="mui-col-xs-3">
			<img src="{MODULE_URL}static/images/u3143.png" />
		</div>
		<div class="mui-col-xs-3">
			<img src="{MODULE_URL}static/images/u3143.png" />
		</div>
		<div class="mui-col-xs-3">
			<img src="{MODULE_URL}static/images/u3143.png" />
		</div>
		<div class="mui-col-xs-3">
			<img src="{MODULE_URL}static/images/u3143.png" />
		</div>
		<div class="mui-col-xs-3">
			<img src="{MODULE_URL}static/images/u3143.png" />
		</div>
		<div class="mui-col-xs-3">
			<img src="{MODULE_URL}static/images/u3143.png" />
		</div>
		<div class="mui-col-xs-3">
			<img src="{MODULE_URL}static/images/u3143.png" />
		</div>
		<div class="mui-col-xs-3">
			<img src="{MODULE_URL}static/images/u3143.png" />
		</div>
		<div class="mui-col-xs-3">
			<img src="{MODULE_URL}static/images/u3143.png" />
		</div>
		<div class="mui-col-xs-3">
			<img src="{MODULE_URL}static/images/u3143.png" />
		</div>
	</div>

	<!--模板内容 结束-->
	<!--  滤镜列表 开始-->

	<!--  滤镜列表 结束-->
	<div class="mui-row filter-nav">
		<div class="mui-col-xs-6 mui-col-sm-6 muban-btn ">
			<li class="mui-table-view-cell ">
				<span class="mui-tab-item ">
					<span class="mui-icon mui-icon-list"></span>
				<p class="mui-tab-label">模板</p>
				</span>
			</li>
		</div>
		<div class="mui-col-xs-6 mui-col-sm-6 filter-btn">
			<li class="mui-table-view-cell ">
				<span class="mui-tab-item ">
					<span class="mui-icon mui-icon-settings"></span>
				<p class="mui-tab-label">滤镜</p>
				</span>
			</li>
		</div>
	</div>
</div>

<!--滤镜和模板 结束-->

<script type="text/javascript">
	mui.init();
	//默认第一个选中状态
	$('.color-btn>li:first-child>button>span').show();
	//图片数组
	var srcArr = [
		'{MODULE_URL}static/images/white.png',
		'{MODULE_URL}static/images/blue.png',
		'{MODULE_URL}static/images/orange.png',
		'{MODULE_URL}static/images/red.png',
		'{MODULE_URL}static/images/green.png',
		'{MODULE_URL}static/images/orange.png'
	];

	mui('.color-btn').on('tap', 'button', function() {
		/****选择颜色****/

		$(this).children('span').show();
		$(this).parent().siblings().children().children('span').hide();
		//点击按钮跟换对应图片地址
		var index = $(this).parent('li').index();
		$('.diy-img').attr('src', srcArr[index]);
	})

	/***衣服款式 蒙层****/

	mui('.edit-btn').on('tap', 'button.cls-styel-btn', function() {

		mui('#cls-style').popover('toggle');

	})

	/***款式选择 ***/
	mui('.style-list').on('tap', 'div', function() {
		$(this).children('button').addClass('mui-active').parent('div').siblings().children().removeClass('mui-active');
	})
	mui('.gender-list').on('tap', 'div', function() {
		$(this).children('button').addClass('mui-active').parent('div').siblings().children().removeClass('mui-active');
	})

	//插入图片
	mui('.diy-nav').on('tap', '#picture-btn', function() {
			mui('#picture').popover('toggle');
		})
		//取消插入图片
	mui('#picture').on('tap', '.cancel-btn', function() {
			mui('#picture').popover('toggle');
		})
		//删除
	document.getElementById("delete-btn").addEventListener('tap', function() {
		var btnArray = ['否', '是'];
		mui.confirm('你确定要删除作品吗？', " ", btnArray, function(e) {
			if(e.index == 1) {
				console.log('是');
			} else {
				console.log('否');
			}
		})
	});
	//缩放
	var onOff = true;
	mui('.edit-btn').on('tap', '.scale-btn', function() {

		if(onOff) {
			/*$('.diy-img').css({
				'transform':'scale(1.1,1.1)',
				'width':'100%'
			});*/
			$('.fangda').hide();
			$('.suoxiao').show();
			onOff = false;
		} else {
			/*$('.diy-img').css('transform','scale(1,1)');*/
			$('.fangda').show();
			$('.suoxiao').hide();
			onOff = true;
		}
	})
	mui('.edit-btn').on('tap', '.open-filter', function() {
		mui('#filter').popover('toggle');
	})

	/*滤镜和模板 开始*/
	mui('.filter-nav').on('tap', 'div', function() {
		$(this).addClass('active').siblings().removeClass('active');
	})
	mui('.filter-nav').on('tap', '.muban-btn', function() {
		$('.muban-list').show();
	})
</script>

{template 'common/footer'}